<h1>Bienvenue chez 26 RENT</h1>
<p>Contactez-nous pour en savoir plus sur nos prestations à Marseille et Chambéry.</p>

<h2>Adresse</h2>
<p>Marseille, France</p>

<h2>Telephone</h2>
<p>+33 6 68 27 85 52</p>

<h2>Email</h2>
<p>contact@26rent.fr</p>

<!-- reste a ajouter la possibilites au user d'envoyer un mail via le site (optionnel)  -->
